.cookies
  position fixed
  z-index 10
  bottom 20px
  display flex
  justify-content center
  align-items stretch
  width 100%

  +below('xs')
    padding 15px 15px
    bottom 0
    flex-direction column
    background-color $colorWhite

  &__text
    padding 35px 110px 28px 38px
    font-size 20px
    background-color $colorGray6
    line-height 30px

    +below('xs')
      padding 25px 0 32px
      font-size 15px
      line-height 22px
      letter-spacing 0.01em
      background-color $colorWhite


  &__link
    text-decoration none
    color $colorMain1

  &__button
    width 182px
    flex-shrink 0
    background-color $colorGray1

    +below('xs')
      padding 13px 7px

    +below('xs')
      width 100%
