.review
  display flex !important
  flex-direction column
  height 100%

  &__class
    display flex
    padding-top 42px
    padding-bottom 67px
    padding-left 67px
    justify-content flex-start

    &-photo
      image(66px, 66px)

    &-content
      margin-left 23px

    &-name
      textCompressed(30px)
      letter-spacing 0

      +above('sm')
        itemTitle()
        letter-spacing 0
        margin-bottom 4px

    &-title
      font-size 20px
      line-height 25px
      letter-spacing 0.03em
      text-transform uppercase
      color $colorGray1

      +above('sm')
        line-height 20px
        letter-spacing 0.02em

  &__content
    display flex
    flex-direction column
    justify-content space-between
    border 2px solid #D3D4D6
    border-top none
    height 100%
    padding 26px 20px 36px

    +above('sm')
      padding 30px 45px 35px 65px

  &__text
    font-size 15px
    line-height 25px
    margin-bottom 20px

  &__author
    padding-top 15px
    display flex
    align-items center

    +above('sm')
      padding-top 0

  &__photo
    image(40px, 40px)

    &--empty svg
      height 100%
      max-width 100%

  &__name
    padding-left 23px
    font-size 20px
    line-height 30px
