// grid
$columns = 12
$columnPadding = var(--padding)
$columnPaddingLg = 25px
$columnPaddingXs = 15px

$breakPointSmall = 414px
$breakPointMedium = 768px
$breakPointLarge = 1440px
$breakPointMobileDevice = 1366px

$pageWidth = var(--page-width)

// colors
$colorBack1 = var(--color-back)
$colorBack2 = var(--color-back2)
$colorBack3 = var(--color-back3)
$colorBack4 = var(--color-back4)

$colorRecess = var(--color-recess)

$colorDark = var(--color-dark)

$colorBlack = #131717

$colorGray1 = #939393
$colorGray2 = #222222
$colorGray3 = #F1F5F8
$colorGray4 = #f4f4f4
$colorGray5 = #dddddd
$colorGray6 = #c2c2c2
$colorGray7 = #313435

$colorBlue1 = #5883ab
$colorBlue2 = #3d6fe4

$colorBrown = #8a3e00

$colorGreen1 = #59b36b
$colorGreen2 = #8cd08c
$colorGreen3 = #0d2d24

$colorOrange = #f59d49

$colorRed1 = #FF3E3E
$colorRed2 = #D32727
$colorRed3 = #800000

$colorWhite = #ffffff

$colorYellow = #f1f29a

$colorMain1 = $colorBlue1
$colorMain2 = $colorGreen2
$colorMain3 = $colorWhite

$colorBackMain = var(--color-back)
$colorBackMainLight = var(--color-back-light)
$colorTextMain = var(--color-text)
$colorTextMain2 = var(--color-text2)

// shadows
$colorShadowLight = var(--color-shadow-light)
$colorShadowLightWeak = var(--color-shadow-light-weak)
$colorShadowLightWeakText = var(--color-shadow-light-weak-text)
$colorShadowDark = var(--color-shadow-dark)
$colorShadowDarkWeak = var(--color-shadow-dark-weak)
$colorShadowDarkWeakText = var(--color-shadow-dark-weak-text)

// fonts
$fontMain = 'Roboto', sans-serif

// other
$backFilter = var(--back-filter)
$borderRadius = 8px
$footerHeight = 50px
$headerHeight = var(--header-height)
$perspective = perspective(2000px)
$rotationTime = .5s
$transition = .3s
