.field
  $gridColors = $colorShadowDark 0%, $colorShadowDark 2%, transparent 3%
  position relative
  margin auto
  shadowBorder()
  background linear-gradient(to right, $gridColors), linear-gradient(to bottom, $gridColors)
  overflow hidden
