.field
  $gridColors = $colorShadowDark 0%, $colorShadowDark 2%, transparent 3%
  position relative
  margin auto
  shadowBorder()
  background linear-gradient(to right, $gridColors), linear-gradient(to bottom, $gridColors)
  overflow hidden

  &__cells
    position relative
    filter drop-shadow(1px 1px 3px $colorMain2)
    pointer-events none

    .cell
      background-color $colorMain2
      transition()

  .shape
    pointer-events none