.project-detail
  color $colorWhite

  &__main
    position relative
    background-size cover
    padding $columnPadding
    margin $columnPadding 0
    shadowInset()

    &::after
      content ''
      position absolute
      fullSize()
      background-color rgba($colorBlack, .8)
      border-radius $borderRadius

    & > *
      position relative
      z-index 1

  &__label
    opacity .7
    width 120px
    flex-shrink 0

    +below('xs')
      width 80px
      font-size 12px

  &__name
  &__need
  &__desc
    flex(row, nowrap, flex-start, center)

  &__name
    span
      display block
      padding-left 10px
      itemTitle()
      color $colorMain2

  &__desc
  &__need
    margin-top 10px
    text-shadow none

    +below('xs')
      flex-wrap wrap

    span
      display block
      padding-left 10px
      itemDesc()

  &__need
  &__desc
    align-items flex-start

  &__desc-text
    margin-left 10px
    itemDesc(none)
    font-weight normal

    +below('xs')
      width 100%
      margin $columnPadding 0 0

  &__vacancy
    color $colorMain1

  &__meta
    flex()
    margin 20px 0

  &__tags
    width 100%

  &__tag
    tag()

  &__created
    font-size 12px

  &__views
    flex()
    justify-content flex-end
    margin-top 10px
    opacity .6
    pointer-events none

    +below('xs')
      font-size 12px

    svg
      width 20px
      height @width
      margin-right 10px

      +below('xs')
        width 15px
        height @width

      *
        fill $colorWhite
