.game
  flex(row, wrap, center, flex-start)

  &__main
    position relative
    text-align center

  &__stats
    flex()

    &-label
      margin-right 10px

    &-value
      font-size 20px
      font-weight bold
      color $colorMain1

  &:not(&--over) &__over
    transform scale(0) translate(-100%, -100%)
    pointer-events none

  &__over
    position absolute
    top 50%
    left 50%
    transform scale(1) translate(-50%, -50%)
    transition(transform, 1s)
    font-size 50px
    color $colorRed2
    font-weight 900

    .button
      margin-top 100px

      &:hover
        background-color $colorOrange

  &__exit
    max-width 150px
    margin-top 20px

  &__side
    padding 0 $columnPadding

  &__smiles
    margin-top 50px

  &__smile
    margin-top 20px

    .smile
      &__eyes
      &__mouth
        height 50%

      &__mouth
        top 50%

      & .smile__hand-right
        left 80%
        right -80%
