shapeColor($color)
  filter drop-shadow(1px 1px 3px $color)

  .cell
    background-color $color

.shape
  position absolute
  left 0
  top 0
  transition()

  &
  &--blue
    shapeColor($colorMain1)

  &--red
    shapeColor($colorRed2)

  &--yellow
    shapeColor($colorYellow)
