.footer
  padding 30px 0 10px
  color $colorTextMain
  z-index 1

  &__copyright
    flex(row, nowrap, flex-start, flex-end)
    font-size 15px

    .link
      margin 0 5px

  &__agreement
    justify-content flex-end

    +below('xs')
      .link
        font-size 12px
        text-align right
