.footer
  padding 30px 0 10px
  color $colorWhite
  z-index 1

  &__copyright
    font-size 15px

  &__agreement
    justify-content flex-end

    +below('xs')
      .link
        font-size 12px
        text-align right
