.likes
  display flex
  justify-content space-between

  &__wrapper
    max-width 152px

  &__ico
    margin-right 10px
    cursor pointer

    path.likebg
      transition opacity .5s ease

    &:hover path.likebg
      opacity .6

    &:active path.likebg
     opacity 1

    &--dislike
      transform rotate(180deg)
      position relative
      top 5px

  &__count
    textSize(25px)
    letter-spacing .02em
    color $colorWhite

  &__progress
    margin-top 15px

    .progress
      height 2px

  &__like
    display flex
    align-items center
    justify-content center
