.terms
  .toggle--opened
    .toggle__body
      max-height 9000px

    ol
      counter-reset item
      text-align justify

      & > li
        display block
        position relative
        margin-bottom 20px
        padding-left 10px

        &:before
          content counters(item, '.') ' '
          counter-increment item
          position absolute
          left -40px

        & > ol
          margin-top 20px

          & > li
            padding-left 20px

      ul li
        list-style disc
        margin-top 10px

    a
      color $colorMain1
      text-decoration none
      transition()

      &:hover
        opacity .5
