.home
  &__title
    min-height 300px
    height auto
    text-align center
    color $colorRed2
    shadowText(true)
    font-weight bold

    +below('xs')
      min-height 100px
      height auto

  &__links
    width 100%
    flex()

  &__game
    max-width 300px
    margin auto

    +below('xs')
      margin 20px auto
