.sms
  width 100%
  padding-bottom 20px

  .button
    +above('xs')
      max-width 197px

  &__timer
    display flex
    align-items center
    itemDesc()
    theme(--color-sms)

    .button
      margin-right 40px

    span
      color $colorMain1
      display inline-block
      padding-left 10px
