.page
  page()
  background-size cover
  background-position center center
  background-attachment fixed

  &-manager
  &-wrapper
  &-content
    page()

  &--current
  &--prev
    height 100%
    overflow hidden

  &--last
    position relative
